<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crear producto</title>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/registro.css">    
</head>
<body>
  
  <header>
    <%- include('../partials/header.ejs') %>
  </header>    

  <main>
    <section class="register-section">
      <h2 class="login-section-title">Crear Producto</h2>

        <form action="/products" method="post" enctype="multipart/form-data">
            <section class="first">
            
            <p class="email">
                <label for="name">Nombre</label>
                <input type="name" name="name" id="name" placeholder="Nombre del producto" required>
            </p>
            <p class="clave">
                <label for="price">Precio</label>
                <input type="number" name="price" id="price" placeholder="Precio del producto" required>
            </p>
            <p class="clave2">
                <label for="discount">Descuento</label>
                <input type="number" name="discount" id="discount" placeholder="Porcentaje de descuento" required>
            </p>
            <p class="telefono">
                <label for="image">Imágenes</label>
                <input type="file" name="images" id="image" accept="image/*" required multiple>
            </p>
            
            </section>
            <section class="second">
            
            <p> <label>Categoría</label>
                <select class="trato" name="category" id="category" required>
                    <option>Elije la categoría</option>
                    <% categories.forEach(category => { %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                    <% }) %>
                </select>
            </p>
            <p class="about">
                <label for="description">Descripción</label>
                <textarea name="description" id="description" style="height: 10vw; width: 100%;" placeholder="Descripción del producto" class="textarea"></textarea>
            </p>
            <p class="email">
                <label for="brand">Marca</label>
                <select name="brand" id="brand" required>
                    <option>Elije la marca</option>
                    <% brands.forEach(brand => { %>
                    <option value="<%= brand.id %>"><%= brand.name %></option>
                    <% }) %>
                </select>
            </p>
            <!-- <p class="email">
                <label for="stock">Stock</label>
                <input type="number" name="stock" id="stock" placeholder="Cantidad disponible" required>
            </p> -->
            <p class="email">
                <label>Elije el o los colores</label>
                <% colors.forEach(color => { %>
                <label for="<%= color.name %>"><%= color.name %></label>
                <input
                  type="checkbox"
                  name="colors"
                  id="<%= color.name %>"
                  value="<%= color.id %>"
                />
                <% }) %>
            </p>
            </section>
            <br>
            <p class="button">
                <button type="submit" > Crear Producto </button>
            </p>
        </form>
    
    <p class="login-links">
        <br>
        <a href="/products">Editar un producto existente</a>
    </p>
    
  </main>
  
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
 
  <script src="/js/productValidations.js"></script>

</body>

</html>