<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Editar producto</title>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/registro.css" />
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>

    <main>
      <section class="register-section">
        <h2 class="login-section-title">Editar Producto</h2>

        <form
          action="/products/<%= product.id %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <section class="first">
            <p class="email">
              <label for="name">Nombre</label>
              <input
                type="name"
                name="name"
                id="name"
                placeholder="Nombre del producto"
                value="<%= product.name %>"
              />
            </p>
            <p class="clave">
              <label for="price">Precio</label>
              <input
                type="number"
                name="price"
                id="price"
                placeholder="Precio del producto"
                value="<%= product.price %>"
              />
            </p>
            <p class="clave2">
              <label for="discount">Descuento</label>
              <input
                type="number"
                name="discount"
                id="discount"
                placeholder="Porcentaje de descuento"
                value="<%= product.discount %>"
              />
            </p>
            <p class="clave2">
              <label for="images">Imágenes del producto</label>
              <input type="file" name="images" id="images" value="" multiple />
              <% if (product.images.length) { %>
                <section class="old-images">
                  <% product.images.forEach(img => { %>
                    <article class="img">
                      <img src="/images/products/<%= img.url %>" alt="<%= product.name %>" width="200px">
                    </article>
                  <% }) %>
                </section>
              <% } %>
            </p>
            <p class="clave2">
              <label>Elije el o los colores</label>
              <% colors.forEach(color => { %>
              <label for="<%= color.name %>"><%= color.name %></label>
              <input
                type="checkbox"
                name="colors"
                id="<%= color.name %>"
                value="<%= color.id %>"
                <% product.colors.forEach(colorProduct => { %>
                <%= colorProduct.product_color.id_color === color.id ? "checked" : ""%>
                <% }) %>
              />
              <% }) %>
            </p>
          </section>
          <section class="second">
            <p class="about">
              <label for="description">Descripción</label>
              <textarea
                name="description"
                id="description"
                style="height: 10vw; width: 100%"
                class="textarea"
              >
<%= product.description %></textarea
              >
            </p>
          </section>
          <p class="button">
            <button type="submit">Guardar Cambios</button>
          </p>

          <p class="login-links">
            <br />
            <a href="/products/createProduct">Crear</a> un producto nuevo
          </p>
        </form>
      </section>
    </main>

    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
