<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Editar producto</title>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/registro.css" />
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>

    <main>
      <h2 class="login-section-title">Editar Producto</h2>
      <section class="register-section">
        <section>
          <h3>Imágenes del producto</h3>
              <% if (product.images.length) { %>
                <section class="old-images">
                  <% product.images.forEach(img => { %>
                    <article class="img" id="image-<%= img.id %>">
                      <img class="img-product" src="/images/products/<%= img.url %>" alt="<%= product.name %>">
                      <button onclick="deleteImage('<%= img.id %>')" class="delete-img-btn">X</button>
                    </article>
                  <% }) %>
                </section>
              <% } %>
        </section>

        <form
          action="/products/<%= product.id %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <section class="formularios-editar">
            <p class="clave2">
              <label for="images"><p class="titulo-form">Agregar otra imagen</p></label>
              <input type="file" name="images" id="images" multiple accept="image/*" />
            </p>
            <p class="email">
              <label for="name"><p class="titulo-form">Nombre</p></label>
              <input
                type="name"
                name="name"
                id="name"
                placeholder="Nombre del producto"
                value="<%= product.name %>"
              />
            </p>
            <p class="clave">
              <label for="price"><p class="titulo-form">Precio</p></label>
              <input
                type="number"
                name="price"
                id="price"
                placeholder="Precio del producto"
                value="<%= product.price %>"
              />
            </p>
            <p class="clave2">
              <label for="discount"><p class="titulo-form">Descuento</p></label>
              <input
                type="number"
                name="discount"
                id="discount"
                placeholder="Porcentaje de descuento"
                value="<%= product.discount %>"
              />
            </p>
            <p class="clave2">
              <label><p class="titulo-form">Elije los colores disponibles para este producto</p></label>
              <div class="input-colores-cajita">
              <% colors.forEach(color => { %>
              <label for="<%= color.name %>"><%= color.name %></label>
              <input
                type="checkbox"
                name="colors"
                id="<%= color.name %>"
                value="<%= color.id %>"
                <% product.colors.forEach(colorProduct => { %>
                <%= colorProduct.product_color.id_color === color.id ? "checked" : ""%>
                <% }) %>
              />
              <% }) %>
            </div>
            </p>
            <p class="email">
              <label for="brand"><p class="titulo-form">Marca</p></label>
              <select name="brand" id="brand" required>
                  <option>Elije la marca</option>
                  <% brands.forEach(brand => { %>
                  <option value="<%= brand.id %>" <%= product.id_brand === brand.id ? "selected" : "" %>><%= brand.name %></option>
                  <% }) %>
              </select>
          </p>
          <p> <label><p class="titulo-form">Categoría</p></label>
            <select class="trato" name="category" id="category" required>
                <option>Elije la categoría</option>
                <% categories.forEach(category => { %>
                <option value="<%= category.id %>" <%= product.id_category === category.id ? "selected" : "" %>><%= category.name %></option>
                <% }) %>
            </select>
        </p>
          </section>
          <section class="second">
            <p class="about">
              <label for="description"><p class="titulo-form">Descripción</p></label>
              <textarea
                name="description"
                id="description"
                style="height: 10vw; width: 100%"
                class="textarea"
              >
<%= product.description %></textarea
              >
            </p>
          </section>
          <p class="button">
            <button type="submit">Guardar Cambios</button>
          </p>

          <p class="login-links">
            <br />
            <a href="/products/createProduct">Crear</a> un producto nuevo
          </p>
        </form>
      </section>
    </main>

    <footer><%- include('../partials/footer.ejs') %></footer>
    <script src="/js/editProduct.js"></script>
    <script src="/js/productValidations.js"></script>
  </body>
</html>
