<% for(let i = 0; i < Math.min(10, products.length); i++) { %>
  <div class="product-slide">
    <section class="individualProduct">
      <a href="/products/detail/<%= products[i].id %>">
        <img src="/images/products/<%= products[i].images[0] ? products[i].images[0].url : "" %>" alt="<%= products[i].name %>" />
      </a>
  
      <article class="descriptionProduct">
        <% if(products[i].discount) { %>
        <div class="btn-price">
          <button type="button" class="btn-Add">AGREGAR</button>
          <p class="priceProduct">
            $<%= products[i].price - (products[i].price * (products[i].discount/100)) %>
          </p>
        </div>
        <div class="priceDiscount">
          <p class="oldPrice">$<%= products[i].price %></p>
          <p class="discount"><%= products[i].discount %>% Off</p>
        </div>
        <% } else { %>
        <div class="btn-price">
          <button type="button" class="btn-Add">AGREGAR</button>
          <p class="priceProduct">$<%= products[i].price %></p>
        </div>
        <% } %>
        <h4 class="title"><%= products[i].name %></h4>
      </article>
    </section>
  </div>
  <% } %>
  
