<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include("../partials/head.ejs") %>
  </head>
  <body>
    <header><%- include("../partials/header.ejs") %></header>

    <main>
      <article class="banner">
        <button type="button" class="leftArrow hide">
          <i class="fa-solid fa-angle-left"></i>
        </button>
        <a href="#" class="banner-container"
          ><img src="/images/Banner-Accesorios.jpg" alt="Banner"
        /></a>
        <button type="button" class="rightArrow hide">
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </article>

      <h3 class="main-categorie">CELULARES</h3>

      <section class="main-products">
        <button type="button" class="arrowButton">
          <i class="fa-solid fa-angle-left"></i>
        </button>

        <%- include("../partials/home/celulares.ejs") %>

        <button type="button" class="arrowButton">
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </section>

      <section class="main-productsOnSale">
        <div>
          <a href="#"
            ><img src="/images/Oferta-BlackFriday.jpg" alt="Oferta"
          /></a>
        </div>
        <div>
          <a href="#"
            ><img src="/images/Oferta-Accesorios.jpg" alt="Oferta"
          /></a>
        </div>
      </section>

      <h3 class="main-categorie">ACCESORIOS</h3>

      <section class="main-products">
        <!-- <button type="button" class="arrowButton"><i class="fa-solid fa-angle-left"></i></button> -->

        <%- include("../partials/home/accesorios.ejs") %>

        <!-- <button type="button" class="arrowButton"><i class="fa-solid fa-angle-right"></i></button> -->
      </section>
    </main>

    <footer><%- include("../partials/footer.ejs") %></footer>
  </body>
</html>
