<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Editar usuario></title>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/perfil.css" />
  </head>

  <body>
    <header><%- include("../partials/header.ejs") %></header>

    <main>
        <h1>Editar Usuario</h1>
    <form action="/users/update/<%= user.id %>?_method=PUT" method="post">
        <label for="first_name">Nombre:</label>
        <input type="text" id="first_name" name="first_name" value="<%= user.first_name %>">
        <label for="last_name">Apellido:</label>
        <input type="text" id="last_name" name="last_name" value="<%= user.last_name %>">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" value="<%= user.email %>">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password">

        <section class="avatar">
          <img
            class="img"
            src="/images/users/<%= user.avatar%>"
            alt="<%= user.first_name%>"
          />
          <div class="editar-perfil">
          <a href="/users/edit/<%= user.id %>">Editar Perfil</a>
        </div>
        </section>
        <label for="avatar">Avatar:</label>
        <input type="avatar" id="avatar" name="avatar">
        <button type="submit">Guardar Cambios</button>
    </form>
    </main>

    <footer><%- include("../partials/footer.ejs") %></footer>
  </body>
</html>
