<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Detalle de producto</title>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/detail.css" />
  </head>

  <body>
    <header><%- include("../partials/header.ejs") %></header>

    <main>
      <section class="product">
        <section class="images-container">

          <article class="main-image">
            <img src="/images/users/<%= user.avatar %>" alt="<%= user.first_name %>" />
          </article>
        </section>

        <section class="description-container">
          <h3><%= user.first_name %></h3>
          <p class="description"><%= user.email %></p>
        </section>
      </section>

 
    </main>

    <footer><%- include("../partials/footer.ejs") %></footer>
  </body>
</html>
