<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Perfil de <%= user.first_name + " " + user.last_name %></title>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/perfil.css" />
  </head>

  <body>
    <header><%- include("../partials/header.ejs") %></header>

    <main>
      <div class="perfil">
        <section class="avatar">
          <img
            class="img"
            src="/images/users/<%= user.avatar%>"
            alt="<%= user.first_name%>"
          />
          <div class="editar-perfil">
          <a href="/users/edit/<%= user.id %>">Editar Perfil</a>
        </div>
        </section>
    
        <section class="datos">
          <h4>Datos principales y de contacto</h4>
          <ul class="lista">
            <li>Nombre: <%= user.first_name + " " + user.last_name %></li>
            <li>Email: <%= user.email %></li>
            <li>Teléfono: <%= user.phone %></li>
            <li>Trato: <%= user.trato %></li>
          </ul>
        </section>
    
        <section class="descripcion">
          <h4>Acerca de mí</h4>
          <p><%= user.comentario %></p>
        </section>
      </div>
    
      <div class="opciones">
        <form action="/users/logout" method="post">
          <button type="submit">Cerrar Sesión</button>
        </form>
      </div>
    </main>
    

    <footer><%- include("../partials/footer.ejs") %></footer>
  </body>
</html>
